body {
    font-family: sans-serif;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: #AAAAAA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main div {
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #828282;
    border-radius: 1px;
}

